<form name="signUpForm" ng-controller="SignUpController as vm">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Email</label>
            <input name="email" ng-model="vm.email" required>
            <div ng-messages="signUpForm.email.$error">
                <div ng-if="signUpForm.email.$error.required && signUpForm.email.$dirty" ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>New Username</label>
            <input name="userName" ng-model="vm.userName" required>
            <div ng-messages="signUpForm.userName.$error">
                <div ng-if="signUpForm.userName.$error.required && signUpForm.userName.$dirty" ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Password</label>
            <input name="password" ng-model="vm.password" required>
            <div ng-messages="signUpForm.password.$error">
                <div ng-if="signUpForm.password.$error.required && signUpForm.password.$dirty" ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Confirm Password</label>
            <input name="confirmPassword" ng-model="vm.confirmPassword" required>
            <div ng-messages="signUpForm.confirmPassword.$error">
                <div ng-if="signUpForm.confirmPassword.$error.required && signUpForm.confirmPassword.$dirty" ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
</form>