<form name="loginForm" class="m-t" ng-controller="LoginController as vm">
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Username</label>
            <input name="username" ng-model="vm.username" required>
            <div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$dirty">
                <div ng-if="loginForm.username.$error.required" ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
    <div layout-gt-xs="row">
        <md-input-container class="md-block" flex-gt-xs>
            <label>Password</label>
            <input name="password" ng-model="vm.password" required>
            <div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$dirty">
                <div ng-if="loginForm.password.$error.required" ng-message="required">This is required!</div>
            </div>
        </md-input-container>
    </div>
</form>